<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium WebDriver">
    <groups>
        <run>
            <include name="category"/>
        </run>

    </groups>
    <test verbose="2" preserve-order="true" name="Run on Chrome browser">
        <packages>
            <package name="categories"></package>
            <package name="product"></package>
            <package name="orders"></package>

        </packages>
<!--        <classes>-->
<!--            <class name=""></class>-->

<!--        </classes>-->
    </test>
</suite>