<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium WebDriver">

    <test name="Run on Chrome browser">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="com.nopcommerce.users.Level_04_Multiple_Browser"></class>

        </classes>
    </test>
    <test name="Run on Edg browser">
        <parameter name="browser" value="edg"></parameter>
        <classes>
            <class name="com.nopcommerce.users.Level_04_Multiple_Browser"></class>

        </classes>
    </test>

</suite>